$blue: #1C3B7F;
$sky-blue: #E7F1F9;
$light-blue: #F3F8FC;
$green: #5AAA9F;
$yellow: #ECA93B;
$orange: #e0813a;
$dark-orange: #E28130;
$grey: #787B80;
$dark-grey: #282A34;
$white: #fff;
$black: #000;



$border-radius-big: 30px;
$border-radius-small: 3px;

$font-family: "Encode Sans Expanded", Arial, Helvetica, sans-serif;

$light-font-weight : 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

$font-size-xxs: 7px;
$font-size-xs: 10px;
$font-size-12: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-ml: 20px;
$font-size-l: 25px;
$font-size-xl: 30px;

// breakpoint
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xgl: 1780px;