$blue: rgb(7, 71, 166);
$light-blue : rgb(227, 237, 252);
$grey: #787B80;
$dark-grey: #282A34;
$white: rgb(255, 255, 255);
$black: #172b4d;



$border-radius-big: 30px;
$border-radius-small: 3px;

$font-family-1: "Roboto", Arial, Helvetica, sans-serif;
$font-family-2: "Open sans", Arial, Helvetica, sans-serif;

$light-font-weight : 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

$font-size-xxs: 7px;
$font-size-xs: 10px;
$font-size-12: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-ml: 20px;
$font-size-l: 25px;
$font-size-xl: 30px;

// breakpoint
$xs: 0;
$sm: 576px;
$md: 768px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xgl: 1780px;